magica {
	languages {
		@Include: "lang/en/en.config";
	}
}

//TODO
/*
cards {
	net.slightlymagic.laterna.magica.cards.config.ConfigCardCompiler compiler["config"];
	net.slightlymagic.laterna.magica.cards.text.TextCardCompiler compiler["text"] {
		@Import: "net.slightlymagic.laterna.magica.cards.text.TextCardCompiler.*";
		
		NameHandler line["name"];
		CostHandler line["cost"];
		ColorHandler line["color"];
		SuperHandler line["super"];
		TypeHandler line["type"];
		PTHandler line["pt"];
		LHandler line["l"];
		TextHandler line["text"];
	}
}
*/

abilities {
	net.slightlymagic.laterna.magica.abilities.oracle.OracleAbilityScript compiler["oracle"];
}
