# when executing from a jar, the codebase is the jar's directory

base = "${net.slightlymagic.laterna.magica.codebase}";

#the user's data is in his home-directory
usr = "${user.home}/.slightlymagic.net/laterna/";
#this version's data is in the res folder besides the jar
res = "%{base}res/";
#shared resources are in the res folder one level up, outside this version's folder
sharedRes = "%{base}../res/";
