#config-file for laterna magica

//Environment information, specific to how/where the program is run
env {
	@Include: "develop.config";
	#@Include: "deploy.config";
}

laterna {
	//Point this to the location of this version's in-jar res-folder.
	// That folder is for immutable data specific to this version, like translation files
	//The res-folder may be incompatible between different versions.
	@Include: "internalRes/res.config";
	
	//Point this to the location of this version's res-folder.
	// That folder is for data specific to this version, like implemented cards
	//The res-folder may be incompatible between different versions.
	#@Include: "%{/env/res}res.config";
	@Include: "../../props/res/res.config";
	
	//Point this to the location of the shared res-folder.
	// That folder is for data shared between all versions, like pictures
	//The shared res-folder is compatible between versions to the biggest extent possible,
	// so you may share that folder for all versions.
	#@Include: "%{/env/sharedRes}sharedRes.config";
	@Include: "../../props/sharedRes/sharedRes.config";
	
	//point this to the location of your usr-folder.
	// That folder is for your personal data, like preferences
	//The usr-folder is compatible between versions to the biggest extent possible,
	// so you may share that folder for all versions.
	#@Include: "%{/env/usr}usr.config";
	@Include: "../../props/usr/usr.config";
}
