#every object must implement Runnable. The run method is called
#for all the beans in order, not in separate threads.

#Configures log4j & exception handling
Log4jConfigurator log4j: "log4j.properties" {
	exceptionHandling = true;
}

CodeSourceConfigurator codeSource {
	ref = "net.slightlymagic.laterna.magica.LaternaMagica";
	property = "net.slightlymagic.laterna.magica.codebase";
}

ConfigConfigurator config: "laterna.config";

#LibraryConfigurator libraries {
#	#The location in which the library is expected
#	library: "${net.slightlymagic.laterna.magica.codebase}lib/guava-r06.jar" {
#		#Multiple URLs to try...
#		#Those defined as "res" are local, tried without the user's permission
#		res = "lib/guava-r06.jar";
#		#Those defined as "url" are remote, tried after the user's acknowledgement
#		url = "http://code.google.com/...";
#	}
#}

#unzip.resource.class=laterna.magica.LaternaMagica
#unzip.resource.path=/props.zip
#unzip.destination=props
#unzip.check=props/laterna.properties

#properties.language.format=/laterna/res/lang/%%s/%s
#properties.language.preferred.key=/laterna/usr/lang
