//This determines if cards should be compiled when LaternaMagica is started
//Switch it on when developing new cards, parsers, or when modifying the structure of compiled cards (Ability,
//CardTemplate etc., basically everything which is Serializable)
//Switch it off in deployed versions
compileOnStart = false;

//The file storing precompiled cards
compiled = "cards.zip";

//The default author that the card editor puts into new cards
author = "Silly Freak";

net.slightlymagic.laterna.magica.cards.config.ConfigCardCompiler compiler["config"] {
	path = "config/";
}

net.slightlymagic.laterna.magica.cards.text.TextCardCompiler compiler["text"] {
	path = "txt/";
	
	@Import: "net.slightlymagic.laterna.magica.cards.text.TextCardCompiler.*";
	
	NameHandler line["name"];
	CostHandler line["cost"];
	ColorHandler line["color"];
	SuperHandler line["super"];
	TypeHandler line["type"];
	PTHandler line["pt"];
	LHandler line["l"];
	TextHandler line["text"];
}

//TODO
/*
compiler["config"] {
	path = "config/";
}

//The actual compiler classes are defined inside the jar, but the source path of compilers is set here.
compiler["text"] {
	path = "txt/";
}
*/
