@Import: "net.slightlymagic.laterna.magica.cards.text.*";
TextCardCompiler compiler["text"] {
	path = "txt/";
	
	//must implement TextCardCompiler.LineHandler and must have a default constructor
	@Import: "net.slightlymagic.laterna.magica.cards.text.TextCardCompiler.*";
	NameHandler line["name"];
	CostHandler line["cost"];
	ColorHandler line["color"];
	SuperHandler line["super"];
	TypeHandler line["type"];
	PTHandler line["pt"];
	LHandler line["l"];
	TextHandler line["text"] {
		//must implement AbilityParser and must have a default constructor
		ActivatedAbilityParser ability["activated"];
		TriggeredAbilityParser ability["triggered"];
		SpellEffectParser ability["spellEffect"];
		
		//must implement CostParser and must have a default constructor
		@Import: "net.slightlymagic.laterna.magica.cards.text.costs.*";
		TapCostParser cost["tapCost"];
		UntapCostParser cost["untapCost"];
		ManaCostParser cost["manaCost"];
		SacrificeSelfParser cost["sacrificeSelf"];
		
		//must implement EffectParser and must have a default constructor
		@Import: "net.slightlymagic.laterna.magica.cards.text.effects.*";
		AddManaParser effect["addMana"];
		DestroyAllParser effect["destroyAll"];
		DamageAllParser effect["damageAll"];
		DrawCardsParser effect["drawCards"];
		
		//must implement TriggerParser and must have a default constructor
		@Import: "net.slightlymagic.laterna.magica.cards.text.triggers.*";
		EntersBattlefieldParser trigger["entersBattlefield"];
	}
}
